body {
	font-family: Oswald Light;
	background-color: #2f2854;
	color: #ffffff;
    font-size: 16pt;	
}
footer {
	font-size: 11pt;
	text-align: right;	
}
table{
    border-collapse: collapse; 
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#desc{
	background-color: #2d2650;
	border-collapse: collapse; 
    width: 1024px;
	text-align: justify;
	
	margin-left: auto;
    margin-right: auto;
	
	padding: 25px 25px 25px 25px;
}

#discog{
	border-collapse: collapse; 
    width: 1024px;
	
	margin-left: auto;
    margin-right: auto;
	
	padding: 25px 25px 25px 25px;	
}

#album{
	background-color: #2d2650;
	border-collapse: collapse; 
    width: 1024px;
	text-align: justify;
	
	margin-left: auto;
    margin-right: auto;
	
	padding: 25px 25px 25px 25px;
}
#albumcover{
	text-align: center;
}