a {
	color: #ffffff;
	font-size: 48pt;	
	text-decoration: none;
}
a:visited {
    color: #ffffff; 
}
header {
	text-align: center;
}
body {
	font-family: Oswald Light;
	background-color: #2f2854;
	color: #ffffff;
}
footer {
	font-size: 11pt;
	text-align: right;
}
td {
	font-family: Oswald Regular;
	text-align: center;
}
#maintable {
	background-color: #2d2650;
}

#helloween {
	background: url(images/01_hell_bw.jpg);
}
#ironmaiden {
	background: url(images/02_maiden_bw.jpg);
}
#judaspriest {
	background: url(images/03_priest_bw.jpg);
}
#megadeth {
	background: url(images/04_megad_bw.jpg);
}
#helloween:hover {
	background: url(images/01_hell.jpg);
}
#ironmaiden:hover {
	background: url(images/02_maiden.jpg);
}
#judaspriest:hover {
	background: url(images/03_priest.jpg);
}
#megadeth:hover {
	background: url(images/04_megad.jpg);
}
